apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: otelcol
  namespace: argocd
spec:
  project: default
  sources:
    - repoURL: https://open-telemetry.github.io/opentelemetry-helm-charts
      chart: opentelemetry-collector
      targetRevision: 0.108.0
      helm:
        valueFiles:
          - $values/k8s/values/otel-collector-values.yaml
    - repoURL: https://github.com/S7AGE/security-ci.git
      targetRevision: main
      ref: values
  destination:
    server: https://kubernetes.default.svc
    namespace: observability
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
