apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: reserve-service
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/S7AGE/reserve-service.git
    path: k8s/base
    targetRevision: main
  destination:
    server: https://kubernetes.default.svc
    namespace: app
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true