apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: default

resources:
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - hpa.yaml

commonLabels:
  app: reserve-service

images:
  - name: ghcr.io/nakedflower/reserve-service
    newTag: latest

