- name: Create Grafana admin secret
  become: true
  shell: |
    kubectl create secret generic grafana-admin \
      --from-literal=admin-user="{{ grafana_admin_user | default('admin') }}" \
      --from-literal=admin-password="{{ grafana_admin_password }}" \
      -n monitoring --dry-run=client -o yaml | kubectl apply -f -
  environment:
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml

- name: Create Alertmanager webhook secret
  become: true
  shell: |
    kubectl create secret generic alertmanager-discord-webhook \
      --from-literal=discord_slack_webhook="{{ alertmanager_discord_webhook }}" \
      -n monitoring --dry-run=client -o yaml | kubectl apply -f -
  environment:
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml


- name: Create GHCR auth secret
  become: true
  shell: |
    kubectl create secret docker-registry ghcr-auth \
      --docker-server=ghcr.io \
      --docker-username="{{ github_id }}" \
      --docker-password="{{ github_pat }}" \
      -n default --dry-run=client -o yaml | kubectl apply -f -
  environment:
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml

- name: Create AWS secret
  become: true
  shell: |
    kubectl create secret generic aws-secret \
      --from-literal=access-key="{{ aws_access_key }}" \
      --from-literal=secret-key="{{ aws_secret_key }}" \
      -n default --dry-run=client -o yaml | kubectl apply -f -
  environment:
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml

- name: Create Spring Datasource secret
  become: true
  shell: |
    kubectl create secret generic spring-datasource \
      --from-literal=username="{{ spring_datasource_username }}" \
      --from-literal=password="{{ spring_datasource_password }}" \
      -n default --dry-run=client -o yaml | kubectl apply -f -
  environment:
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml

- name: Get ElastiCache endpoint from Terraform
  delegate_to: localhost
  become: false
  shell: terraform -chdir={{ terraform_dir }} output -raw elasticache_endpoint
  register: redis_endpoint

- name: Create Redis ConfigMap
  become: true
  shell: |
    kubectl create configmap redis-config \
      --from-literal=endpoint="{{ redis_endpoint.stdout }}:6379" \
      -n default --dry-run=client -o yaml | kubectl apply -f -
  environment:
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml