- name: Install k3s agent (join to master)
  become: true
  shell: |
    curl -sfL https://get.k3s.io | \
    K3S_URL=https://{{ hostvars[groups['master'][0]].k3s_master_ip }}:6443 \
    K3S_TOKEN={{ hostvars[groups['master'][0]].k3s_token }} \
    INSTALL_K3S_EXEC="agent \
    --kubelet-arg=cloud-provider=external \
    --kubelet-arg=provider-id=aws:///$(curl -s http://169.254.169.254/latest/meta-data/placement/availability-zone)/$(curl -s http://169.254.169.254/latest/meta-data/instance-id)" sh -
  args:
    creates: /usr/local/bin/k3s-agent

- name: Ensure k3s-agent service is running
  become: true
  systemd:
    name: k3s-agent
    enabled: true
    state: started

