- name: Check current k3s version
  become: true
  command: k3s --version
  register: k3s_current_version
  ignore_errors: true
  changed_when: false

- name: Set k3s upgrade required flag
  set_fact:
    k3s_upgrade_required: >-
      {{ k3s_current_version.rc != 0 or
         (k3s_version not in k3s_current_version.stdout) }}

- name: Install or upgrade k3s with fixed version
  become: true
  shell: |
    curl -sfL {{ k3s_install_url }} | \
    INSTALL_K3S_VERSION={{ k3s_version }} sh -
  when: k3s_upgrade_required

- name: Restart k3s service
  become: true
  systemd:
    name: k3s
    state: restarted
    enabled: yes
  when: k3s_upgrade_required
