- name: Install k3s server (disable traefik)
  become: true
  shell: |
    curl -sfL https://get.k3s.io | \
    INSTALL_K3S_EXEC="server --disable traefik --write-kubeconfig-mode=644 \
    --kubelet-arg=cloud-provider=external \
    --kubelet-arg=provider-id=aws:///$(curl -s http://169.254.169.254/latest/meta-data/placement/availability-zone)/$(curl -s http://169.254.169.254/latest/meta-data/instance-id)" sh -
  args:
    creates: /usr/local/bin/k3s

- name: Ensure k3s service is running
  become: true
  systemd:
    name: k3s
    enabled: true
    state: started

- name: Read k3s node token
  become: true
  command: cat /var/lib/rancher/k3s/server/node-token
  register: token_raw
  changed_when: false

- name: Set master join facts
  set_fact:
    k3s_token: "{{ token_raw.stdout }}"
    k3s_master_ip: "{{ ansible_facts['default_ipv4']['address'] }}"