mode: daemonset
clusterRole:
  create: true
image:
  repository: otel/opentelemetry-collector-contrib
  tag: "0.104.0"

extraVolumes:
  - name: file-storage
    emptyDir: {}

extraVolumeMounts:
  - name: file-storage
    mountPath: /var/lib/otelcol

ports:
  metrics:
    enabled: false

config:
  extensions:
    health_check: {}
    file_storage:
      directory: /var/lib/otelcol

  receivers:
    filelog:
      include: [/var/log/pods/*/*/*.log]
      start_at: end
      include_file_path: true
      storage: file_storage

  processors:
    memory_limiter:
      check_interval: 5s
      limit_percentage: 75
      spike_limit_percentage: 20
    k8sattributes: {}
    batch: {}

  exporters:
    loki:
      endpoint: http://loki-gateway.monitoring.svc.cluster.local/loki/api/v1/push

  service:
    extensions: [health_check, file_storage]
    telemetry:
      metrics:
        level: none
    pipelines:
      logs:
        receivers: [filelog]
        processors: [memory_limiter, k8sattributes, batch]
        exporters: [loki]