apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - target:
      group: networking.k8s.io
      version: v1
      kind: Ingress
      name: reserve-service-ingress
    path: ingress-patch.yaml

  - path: deploy-image-tag-patch.yaml